
.clase-botones button {
    background-color: #800000;
    color: white;
    border-color: #800000;
    flex: 1; /* Optional: makes buttons take equal space */
    margin: 0 20px; /* Optional: gives space between buttons */
}

.custom-link {
    color: white; /* Cambia el color del texto */
    text-decoration: none; /* Elimina el subrayado */
}

/*Grestor Contenido*/
